@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;   
}
*{
    margin: 0px;;
    padding:0 ;
    box-sizing:border-box;
}
.container-footer{
    max-width:1170px;
    margin: auto;
}
.row{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}
ul{
    list-style: none;
}
.footer{
    background-image: url("Images/Footer-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 50px 0;
}
.footer-col{
    width: 25%;
    margin-left: 50px;
}

.footer-col h4{ 
    font-size: 18px;
    color:#c0c0c0;
    text-transform:capitalize ;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 600;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color:#ffffff ;
    height:2px;
    width: 60px;
    box-sizing: border-box;
}
iframe{
    border: 2px solid #b44339;
    border-radius: 10px;
    
}
address{
    margin-top: 7px;
    color: rgb(255, 255, 255);
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size : 16px;
    text-transform: capitalize;
    text-decoration : none; 
    font-weight:300 ;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    /*padding-left: 5px;*/
}
.footer-col .social-links{
    max-width: 130px;
}
.footer-col .social-links a{
    display:inline-block;
    font-size: 20px;
    color: white;
    height:50px ;
    width: 50px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    justify-content: center;
    line-height: 50px;
    border-radius: 100%;

    transition: all 0.3s ease;
}
.footer-col .social-links a:hover:first-child{
    color: #1877f2;
    background-color: #ffffff;
}
.footer-col .social-links a:hover:nth-child(2){
    color: #1f88ff;
    background-color: #ffffff;
}
.footer-col .social-links a:hover:nth-child(3){
    color: #ff1f9a;
    background-color: #ffffff;
}
.footer-col .social-links a:hover:nth-child(4){
    color: #9700d3;
    background-color: #ffffff;
}

@media(max-width: 1200px){
    .footer-col{
        width: 35%;
    }
    .footer-col .social-links{
        max-width: 100%;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}
@media(max-width: 1366px){
    .footer-col{
        margin-left: 25px;
    }
}
h4{
    user-select: none;
}
.adr{
    margin: auto;
    color:white;

}
.adr a{
    color: white;
    text-decoration: dashed;
}
.copyrights{
    color: rgb(122, 122, 122);
    background-color: black;
    text-align: right;
    padding: 5px 5px 5px 5px;
    font-size: small;
}