@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bree+Serif&family=Outfit:wght@600&family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Ubuntu+Condensed&family=Ubuntu:wght@700&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 239, 239);
    margin:0px;
}

.menuBar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    top: 0;
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5)
}

.menuBar .logo{
    font-family: 'Audiowide', cursive;
    color: rgb(97, 123, 139);
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
    float: left;
}

.menuBar a {
    padding: 30px 30px;
    color:black;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-size: 21px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    display: block;
    float: left;
}
.menuBar a:not(:first-child)::before{
  content: "";
  position:relative;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(97, 123, 139);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menuBar a:hover::before{
    transform: scaleX(1);
}

.menuBar .menu_icon {
    display: block;
    float: right;
}

.menuBar .on_active {
    border-bottom: 1px solid #000;
    font-weight: bolder;
}

.menuBar img {
    padding: 30px 30px;
    display: block;
    float: left;
    width: 60px;
    height: 30px;
}
.background {
    display:grid;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    width: auto;
    min-height: 40rem;
    z-index: 1;
    
}
.background.wedding{
    background-image: url(Images/wedding.jpg);
}

.background.party{
    background-image: url(Images/party.jpg);
}

.background.cafe{
    background-image: url(Images/cafe.jpg);
}
.backgroundImage-text{
    margin: auto;
    padding: 10px;
    padding-left: 5em;
}

.backgroundImage-text.wedding{
    background: rgb(187, 210, 197);
    color: rgb(68, 86, 97);
}

.backgroundImage-text.party{
    background: rgb(181, 142, 212);
    color: rgb(85, 0, 78);
}
.backgroundImage-text.cafe{
    background: rgb(199, 96, 65);
    color: darkred;
}

.row{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.title{
    display: block;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
}
.paragraph{
    display: block;
    font-family: 'Poppins', sans-serif; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align:justify;
    line-height: 1.8;
}

.textImage{
    width: 350px;
}
.textImage.right{
    float: right;
    padding: 0 0 10px 25px;
}
.textImage.left{
    float:left;
    padding: 0 25px 10px 0;
}
.header{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
    font-size: 40px;
    line-height: 2;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.header img{
    max-width: 40px;
    max-height: 40px;
}



.backgroundImage-text.welcomePage{
    background: rgb(182, 182, 182);
    color: rgb(68, 86, 97);
}
.Container{
    height: 75vh;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding-top: 25px;
}
.menu{
    min-width: 350px;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.menuCard{
    width: 450px;
    height: 240px;
    border: 2px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);  
    margin: 10px;
    
}
.card{
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 420px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);   
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
}
#Wedding{
    background: url(Images/card-background.png)center / cover;
}
#Restaurant{
    background: url(Images/card-background3.jpg)center / cover;
}
#Party{
    background: url(Images/card-background2.jpg)center / cover;
}
#Gaming{
    background: url(Images/card-background4.jpg)center / cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    color: #fff;
    transition: .7s;
    opacity: 0;
    border-radius: 5%;
}
.content{
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 170px;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins',sans-serif;
    transform: translateY(200px);
    transition: .3s;
}
.name{
    position: relative;
    padding: 3px 0;
}
.name::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .4s;
    transition-delay: .5s;
}
.content p{
    font-size: 13px;
}
.content a{
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover .content{
    transform: translateY(0);
}
.card:hover .name::after{
    width: 100%;
}

@media screen and (max-width: 1000px) {
    /* removes the a links on the menu, whilst on mobile screen */
    .menuBar a:not(:first-child) {
        display: none;
    }
    .menuBar a {
        width: 100%;
    }
    .menuBar .menu_icon {
        display: block;
    }
    .background-wedding{
        min-height: 30rem;
        background-position: center center ;
    }
    .backgroundImage-text{
        padding-left: 0;
        text-align: center;
    }
}

@media screen and (max-height: 720px) {
    .background{
        min-height: 26rem;
    }
    .paragraph{
        text-align: left;
    }
}

@media screen and (max-width: 670px){
    .textImage{   
        width: 100%;
        margin: 10px 0 10px 0;
    }
    iframe{
        width: 100%;
    }
    .menuCard{
        width: 100%;
        height: 250px;
    }
    
}