@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bree+Serif&family=Outfit:wght@600&family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Ubuntu+Condensed&family=Ubuntu:wght@700&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;  
    background-color: rgb(239, 239, 239);
    margin:0px;
}

.menuBar {
    background-color: rgb(0, 39, 55);
    overflow: hidden;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5)
}

.menuBar .logo{
    font-family: 'Audiowide', cursive;
    color: rgb(145, 184, 208);
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    display: block;
    float: left;
}

.menuBar a {
    padding: 20px 20px;
    color:rgb(229, 229, 229);
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    display: block;
    float: left;
}
.menuBar a:not(:first-child)::before{
  content: "";
  position:relative;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(97, 123, 139);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menuBar a:hover::before{
    transform: scaleX(1);
}

.menuBar .menu_icon {
    display: none;
    float: right;
}

.menuBar .on_active {
    border-bottom: 1px solid #000;
    font-weight: bolder;
}

.menuBar img {
    padding: 30px 30px;
    display: block;
    float: left;
    width: 60px;
    height: 30px;
}
.background {
    display:grid;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    width: auto;
    min-height: 40rem;
    z-index: 1;
    
}
.background-welcome{
    display: flex;
    flex-wrap: wrap;
    background-color: #bbbbbb;
}
.background-welcomeText{
    font-size: 5rem;
	font-weight: 700;
    display: flex;
    margin: auto;
    padding: 20px;
    color: black;
    min-height: 12rem;
    z-index: 1;
    align-content: center;
    justify-content: center;
    
}
#slider {
     overflow: hidden; 
     max-width: 400px;
    }
#slider figure img {
     width: 20%; float: left; 
    }
#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
.background-welcomeText span{
    font-family:'Audiowide', cursive;
    color: #4074b5;
}

/*Booking Page*/
.booking{
    color: #000000; 
    text-align: center;
}
#logo{
    font-family: 'Audiowide', cursive;
    color: rgb(17, 17, 17);
    padding: 20px 20px;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
}
.w3-bar.w3-black {
    
    display: block;
    justify-content: center;
    margin:auto ;
}
#bookingButton{
    font-size: 30px;
    padding: 25px ;
    color: rgb(0, 0, 0);
    margin: 20px;
    background-color: #000;
    color: white;
    border-radius: 10px;
}
#bookingButton:hover{
    background-color: rgb(226, 53, 53);
}
.bookingContent{
    font-size: 50px;
    margin: auto;
    max-width: 1000px;
    padding: 45px;

}


.background.wedding{
    background-image: url(Images/wedding.jpg);
}

.background.party{
    background-image: url(Images/party.jpg);
}

.background.cafe{
    background-image: url(Images/cafe.jpg);
}
.backgroundImage-text{
    margin: auto;
    padding: 10px;
    padding-left: 5em;
}

.backgroundImage-text.wedding{
    background: rgb(187, 210, 197);
    color: rgb(68, 86, 97);
}

.backgroundImage-text.party{
    background: rgb(181, 142, 212);
    color: rgb(85, 0, 78);
}
.backgroundImage-text.cafe{
    background: rgb(199, 96, 65);
    color: darkred;
}

.row{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.title{
    display: block;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
}
.paragraph{
    display: block;
    font-family: 'Poppins', sans-serif; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align:justify;
    line-height: 1.8;
}

.textImage{
    width: 350px;
}
.textImage.right{
    float: right;
    padding: 0 0 10px 25px;
}
.textImage.left{
    float:left;
    padding: 0 25px 10px 0;
}
.header{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
    font-size: 2em;
    line-height: 2;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.header img{
    max-width: 40px;
    max-height: 40px;
}

.backgroundImage-text.welcomePage{
    text-align: center;
    color: rgb(68, 86, 97);
    padding-right: 5em;
    
}
.Container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding-top: 25px;
}
.menu{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menuCard{
    display: flex;
    flex-wrap: wrap;
    width: 22%;   
    border: 1px dashed black;
    border-radius: 15px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);  
    margin: 10px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(104, 53, 38,0.5) 100%);
    transition: 0.5s;
}
.menuCard:hover{
    transform: scale(1.01);
}
.card-image img{   
    border-radius: 15px;
    width: 100%;
    align-items: center;
}
.card-content{
    max-width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    align-items: flex-start;
    font-family: 'Ubuntu', sans-serif;
    font-size: .9rem; 

}
.product{
    color: white;
    background-color: rgb(104, 53, 38);
    border-radius: 10px;

}
.card{
    box-sizing: border-box;
    position: relative;
    width: 280px;
    height: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);   
    overflow: hidden;
    border-radius: 0px;
    margin: 10px;
}
#Wedding{
    background: url(Images/card-background.png)center / cover;
}
#Restaurant{
    background: url(Images/card-background3.jpg)center / cover;
}
#Party{
    background: url(Images/card-background2.jpg)center / cover;
}
#Gaming{
    background: url(Images/card-background4.jpg)center / cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    color: #fff;
    transition: .7s;
    opacity: 0;
    border-radius: 0%;
}
.content{
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 170px;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins',sans-serif;
    transform: translateY(200px);
    transition: .3s;
}
.name{
    position: relative;
    padding: 3px 0;
}
.name::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .4s;
    transition-delay: .5s;
}
.content p{
    font-size: 13px;
}
.content a{
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover .content{
    transform: translateY(0);
}
.card:hover .name::after{
    width: 100%;
}

@media screen and (max-width: 1000px) {
    /* removes the a links on the menu, whilst on mobile screen */
    .menuBar .button {
        display: none;
    }
    .menuBar a {
        width: 100%;
    }
    .menuBar .menu_icon {
        display: block;
        float: right;
    }
    .background-wedding{
        min-height: 30rem;
        background-position: center center ;
    }
    .backgroundImage-text{
        padding-left: 0;
        text-align: center;
    }
    .backgroundImage-text.welcomePage{
        padding-right: 5em;
        padding-left: 5em;
    }
}

@media screen and (max-height: 720px) {
    .background{
        min-height: 26rem;
    }
    .paragraph{
        text-align: left;
    }
}

@media screen and (max-width: 670px){
    .textImage{   
        width: 100%;
        margin: 10px 0 10px 0;
    }
    iframe{
        width: 100%;
    }
    .header{
        font-size: 28px;
    }
    .menuCard{
        width: 43%;
        height: 16.5%;
    }
    .card-image img{
        width: 100%;
        border: none;
    }
    .card-content{
        font-size: 12px;
    }
    .background-welcomeText p{
        font-size:2rem ;
    }
}
@media screen and (min-width:671px) and (max-width: 1007px){
    .menuCard{
        width: 46%;
        height: 16.5%;
    }
    .background-welcomeText p{
        font-size:3rem ;
    }
}

/*footer*/

.container-footer{
    max-width:1170px;
    margin: auto;
}
.footer .row{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.footer ul{
    list-style: none;
    padding: 0;
}
.footer{
    background-image: url("Images/Footer-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 50px 0;
}
.footer-col{
    width: 25%;
    margin-left: 50px;
}

.footer-col h4{ 
    font-size: 18px;
    color:#c0c0c0;
    text-transform:capitalize ;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 600;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color:#ffffff ;
    height:2px;
    width: 60px;
    box-sizing: border-box;
}
.footer iframe{
    border: 2px solid #b44339;
    border-radius: 10px;
    
}
.footer address{
    margin-top: 7px;
    color: rgb(255, 255, 255);
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li{
    font-size : 16px;
    text-transform: capitalize;
    font-weight:300 ;
    color: #bbbbbb;
    display: block;
}
.footer-col ul li a{
    font-size : 16px;
    text-transform: capitalize;
    text-decoration : none; 
    font-weight:300 ;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    /*padding-left: 5px;*/
}
.footer-col .social-links{
    max-width: 130px;
}
.footer-col .social-links a{
    display:inline-block;
    font-size: 20px;
    color: white;
    height:50px ;
    width: 50px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;

    transition: all 0.3s ease;
}
.footer-col .social-links a:hover:first-child{
    color: #1877f2;
    background-color: #ffffff;
}
.footer-col .social-links a:hover:nth-child(2){
    color: #1f88ff;
    background-color: #ffffff;
}
.footer-col .social-links a:hover:nth-child(3){
    color: #ff1f9a;
    background-color: #ffffff;
}
.footer-col .social-links a:hover:nth-child(4){
    color: #9700d3;
    background-color: #ffffff;
}

@media(max-width: 1200px){
    .footer-col{
        width: 35%;
    }
    .footer-col .social-links{
        max-width: 100%;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
@media(max-width: 1366px){
    .footer-col{
        margin-left: 25px;
    }
}

.copyrights{
    color: rgb(122, 122, 122);
    background-color: black;
    text-align: right;
    padding: 5px 5px 5px 5px;
    font-size: small;
}