body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    margin:0px;
}


.menuBar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.menuBar a {
    padding: 30px 30px;
    color:black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
    float: left;
}
.menuBar img {
    padding: 30px 30px;
    display: block;
    float: left;
    width: 60px;
    height: 30px;
}

.container {
    
}